In [46]:
import pandas as pd
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors

In [47]:
# Load datasets
ratings = pd.read_csv('3.csv')
movies = pd.read_csv('3.1.csv')

# Merge datasets to have movie titles in the ratings dataframe
ratings = pd.merge(ratings, movies, on='item_id')
ratings.drop(['item_id'], axis=1, inplace=True)

In [52]:
# Create a pivot table
movie_ratings = ratings.pivot_table(
    index='user_id', columns='title', values='rating')

# Fill missing values with 0 (assuming a missing value means the user hasn't rated the movie)
movie_ratings.fillna(0, inplace=True)
movie_ratings

title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,Á köldum klaka (Cold Fever) (1994)
user_id,,,,,,,,,,,,,,,,,,,,,
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,2.0,5.0,0.0,0.0,3.0,4.0,0.0,0.0,...,0.0,0.0,0.0,5.0,3.0,0.0,0.0,0.0,4.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
940,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
941,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
942,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
943,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,4.0,3.0,0.0,0.0,0.0,0.0

In [53]:
df = pd.DataFrame()
df['count_rating'] = pd.DataFrame(ratings.groupby('title')['rating'].count())

In [56]:
df.head()

                           count_rating
title
'Til There Was You (1997)             9
1-900 (1994)                          5
101 Dalmatians (1996)               109
12 Angry Men (1957)                 125
187 (1997)                           41

In [57]:
# Function that takes in movie title as input and outputs most similar movies
def get_recommendations(title, min_rating_count=50):

    user_rating = ratings[title]

    similar_movies = ratings.corrwith(user_rating)

    corr_movies = pd.DataFrame(similar_movies, columns=['correlations'])

    corr_movies.dropna(inplace=True)

    corr_movies = corr_movies.join(
        df['count_rating'], how='left', lsuffix='_left', rsuffix='_right')

    final = corr_movies[corr_movies['count_rating'] > min_rating_count].sort_values(
        'correlations', ascending=False)

    return final

In [58]:
print(get_recommendations("Year of the Horse (1997)"))

KeyError: 'Year of the Horse (1997)'